@import url(fonts/Fira/fira.css);
@import url(fonts/openiconic/css/open-iconic.css);



body {
    font: 13pt "Fira Sans", sans-serif;
    background: url(../images/design/patterns/noise.png) #222;
    overflow: hidden;
    padding: 0;
    margin: 0;

    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; /* This prevents Firefox user from
                                             being able to scroll out of the view using the arrow keys */
}
a {
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}


/* Headlines */
h1, h2, h3 {
    font-weight: 200;
}
h1 {
    line-height: 1;
    font-size: 4em;
}
h1:first-child {
    margin-top: 0;
}


/* Avatar */
.avatar {
    border-radius: 50%;
    width: 70px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    vertical-align: middle;
}
.avatar.small {
    width: 30px;
    height: 30px;
}




/*
    Z-Indexes
    --------------
*/
#main {
    z-index: 2;
}
#right,
#bottom,
#left {
    z-index: 3;
}
body > nav a {
    z-index: 4;
}




/*
    Navigation buttons
    ------------------

        Navigation buttons are positioned using this order:
        Right ; Bottom ; Left ; Top
*/
body > nav a {
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8em;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
body > nav a span {
    text-transform: none;
    text-shadow: 0 1px rgba(0, 0, 0, .2);
    font-weight: 300;
    color: #fff;
    letter-spacing: -.1em;
    font-size: 1em;
}
body > nav a:not(:nth-child(4)):before { /* Button arrows */
    content: " ";
    display: block;
    width: 88px;
    height: 32px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAAAgCAQAAAA87XcTAAABCElEQVR4Ae3YsWmHUBzEcXEEcRTBTSyTSnAAB7ARy5TCf45/mfRCGhdwAnGEl2+EhymSV96BRe7an3LFx8bsPxkFA29nBwoyddUvzGnZubLTkt95cMXC7yxU9xxcMBNIJTDrcCghJKLH4YIAeHC4IHyeteBwQDjoyM92HHocagiBB+XPTcmDoMWhhlD/ua21ONQQEk9ocUghJCrH4YIQa8Dhg2DC4YVgwKGHYMahh2DGoYdgxqGHYMYhhuDH4YcgxuGHIMbhhyDG4YcgxhHPRj8EAY7xGvzihyDC8RoHb34IIhxbHPzuhyDC8REH9wB86SHIcfTXR9ew8mTSQxDhmHiy0hh+Bvr7DbXruu2b6S1ZAAAAAElFTkSuQmCC);
    opacity: .4;
    transition: all .5s;
}
body > nav a:hover:before {
    opacity: 1;
}

body:not(.hom) > nav a:first-child,
body:not(.hom) > nav a:nth-child(2),
body:not(.hom) > nav a:nth-child(3) {
    pointer-events: none;
    opacity: 0;
}


body > nav a:first-child { /* Right */
    right: 1em;
    top: 50%;
    margin-right: 1.8em;
}
body > nav a:first-child:before {
    transform: scale(0.6) translate(110%, 0) rotate(90deg);
    position: absolute;
        top: -5px;
        right: 0;
}

body > nav a:nth-child(2) { /* Bottom */
    left: 0; right: 0; bottom: 0;
    text-align: center;
    padding: .5em 0 2.5em;
}
body > nav a:nth-child(2):before {
    transform: scale(0.6) translate(-85%, -10px) rotate(180deg);
    position: absolute;
        bottom: 0;
        left: 50%;
}

body > nav a:nth-child(3) { /* Left */
    left: 1em;
    top: 50%;
    margin-left: 1.8em;
}
body > nav a:nth-child(3):before {
    transform: scale(0.6) translate(-110%, 0) rotate(-90deg);
    position: absolute;
        top: -5px;
        left: 0;
}
body > nav a:nth-child(4) { /* Top */
    transform: translate(-50%, 0) scale(1);
    left: 50%;
    top: 3em;
    pointer-events: none;
    opacity: 0;
    font-size: 1.5em;
}
body:not(.hom) > nav a:nth-child(4) {
    transform: translate(-50%, 0) scale(1.5);
    pointer-events: all;
    opacity: 1;
}

#homebutton.scrolled {
    pointer-events: none;
    opacity: 0;
}




/*
    3-Way Sections
    --------------
*/
body > section {
    position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    padding: 10em 10%;
    overflow: auto;
    transition: all ease-in-out .5s;
}

/* Homescreen */
#main {
    background: url('../images/design/photos/neonbizarre2.jpg') center / cover #18223A;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    color: #fff;
}
#main h1 {
    text-align: center;
    letter-spacing: -.1em;
    position: absolute;
        top: 50%;
        left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

/* Apply effect to Homescreen when switching to other screens */
#main * {
    transition: all ease-in-out .5s;
    opacity: 1;
}
.rig #main *,
.lef #main * {
    opacity: 0;
    pointer-events: none;
}
.rig #main h1 {
    transform: translate(-80%, -50%);
}
.lef #main h1 {
    transform: translate(-20%, -50%);
}
.bot #main {
    transform: translate(0, -100%);
}

/* Right panel */
#right {
    transform: translate(100%, 0);
}
.rig #right {
    transform: translate(0);
}

/* Bottom panel */
#bottom {
    transform: translate(0, 100%);
}
.bot #bottom {
    transform: translate(0, 10%);
}

/* Left panel */
#left {
    transform: translate(-100%, 0);
}
.lef #left {
    transform: translate(0);
}




/*
    Inner Sections
    --------------
*/
body > section > section {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    max-width: 800px;
    padding: 10%;
    margin: auto auto 10%;
    color: #18223a;
}
body > section > section.transluent {
    background-color: rgba(255, 255, 255, .85);
}
body > section > section.dark {
    background-color: #141414;
    color: #eee;
}
body > section > section.dark.transluent {
    background-color: rgba(20, 20, 20, 0.85);
}
