@import url(fonts/Fira/fira.css);
@import url(fonts/openiconic/css/open-iconic.css);



body {
    font: 13pt/1.4 "Fira Sans", sans-serif;
    background: url(../images/design/patterns/noise.png) #222;
    overflow: hidden;
    padding: 0;
    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
a {
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}
p {
    margin: 0 0 1em;
    font-size: 110%;
}


/* Headlines */
h1, h2, h3 {
    font-weight: 200;
    margin: 0 0 .3em;
}
h1 {
    line-height: 1;
    font-size: 4em;
}
h2 {
    font-size: 3em;
}


/* Avatar */
.avatar {
    border-radius: 50%;
    width: 70px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    vertical-align: middle;
}
.avatar.small {
    width: 30px;
    height: 30px;
}




/*
    Z-Indexes
    --------------
*/
#main {
    z-index: 2;
}
#right,
#bottom,
#left {
    z-index: 3;
}
#container > nav a {
    z-index: 4;
}




/*
    Navigation buttons
    ------------------

        Navigation buttons are positioned using this order:
        Right ; Bottom ; Left ; Top
*/
#container > nav a {
    position: absolute;
    font-style: italic;
    font-size: .8em;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
}
#container > nav a:not(:nth-child(4)):before { /* Button arrows */
    content: " ";
    display: block;
    width: 88px;
    height: 32px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAAAgCAQAAAA87XcTAAABCElEQVR4Ae3YsWmHUBzEcXEEcRTBTSyTSnAAB7ARy5TCf45/mfRCGhdwAnGEl2+EhymSV96BRe7an3LFx8bsPxkFA29nBwoyddUvzGnZubLTkt95cMXC7yxU9xxcMBNIJTDrcCghJKLH4YIAeHC4IHyeteBwQDjoyM92HHocagiBB+XPTcmDoMWhhlD/ua21ONQQEk9ocUghJCrH4YIQa8Dhg2DC4YVgwKGHYMahh2DGoYdgxqGHYMYhhuDH4YcgxuGHIMbhhyDG4YcgxhHPRj8EAY7xGvzihyDC8RoHb34IIhxbHPzuhyDC8REH9wB86SHIcfTXR9ew8mTSQxDhmHiy0hh+Bvr7DbXruu2b6S1ZAAAAAElFTkSuQmCC);
    opacity: .4;
    transition: all .5s;
}
#container > nav a:hover:before {
    opacity: 1;
}

#lef:target #container > nav a:nth-child(2),
#lef:target #container > nav a:nth-child(3) {
    pointer-events: none;
    opacity: 0;
}
#rig:target #container > nav a:first-child,
#rig:target #container > nav a:nth-child(2) {
    pointer-events: none;
    opacity: 0;
}


#container > nav a:first-child { /* Right */
    right: 1em;
    top: 50%;
    margin-right: 1.8em;
}
#container > nav a:first-child:before {
    transform: scale(0.6) translate(110%, 0) rotate(90deg);
    position: absolute;
        top: -5px;
        right: 0;
}

#container > nav a:nth-child(2) { /* Bottom */
    left: 0; right: 0; bottom: 0;
    text-align: center;
    padding: .5em 0 2.5em;
}
#container > nav a:nth-child(2):before {
    transform: scale(0.6) translate(-85%, -10px) rotate(180deg);
    position: absolute;
        bottom: 0;
        left: 50%;
}

#container > nav a:nth-child(3) { /* Left */
    left: 1em;
    top: 50%;
    margin-left: 1.8em;
}
#container > nav a:nth-child(3):before {
    transform: scale(0.6) translate(-110%, 0) rotate(-90deg);
    position: absolute;
        top: -5px;
        left: 0;
}




/*
    Sliding screens
    ---------------
 */
.screens-ct {
    width: 300%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../images/design/photos/panom.jpg) center / cover;

    -webkit-transform: translate(-33.333333333%, 0);
            transform: translate(-33.333333333%, 0);
    transition: transform .5s;
    word-spacing: -5px;
}
#rig:target .screens-ct {
    -webkit-transform: translate(-66.666666666%, 0);
            transform: translate(-66.666666666%, 0);
}
#lef:target .screens-ct {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}
#bot:target .screens-ct {
    -webkit-transform: translate(-33.333333333%, -100%);
            transform: translate(-33.333333333%, -100%);
}


.screens-ct > section {
    height: 100%;
    width: 33.333333333%;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    word-spacing: normal;
}
.screens-ct > section:first-child {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
}
.screens-ct > section:nth-child(2) {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
}

@media screen and (min-width:1100px) {
    #lef:target .screens-ct > section:nth-child(2) > * { /* Additional sliding-in animation */
        animation: slide-to-right 1s 1;
    }
    #rig:target .screens-ct > section:nth-child(3) > * {
        animation: slide-to-left 1s 1;
    }
}
.screens-ct > section:not(#main) > *:first-child {
    margin-top: 150px;
}



/* Homescreen */
#main {
    color: #fff;
}
#main .centered {
    animation: fade-in 1.8s 1;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    line-height: 1;
}
#main h1 {
    text-align: center;
    letter-spacing: -.1em;
    margin: 0;
    text-transform: lowercase;
}

/*
    Inner Sections "Papers"
    --------------
*/
.paper {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    max-width: 80%;
    max-width: calc(1200px - 30%);
    padding: 2.5em 10%;
    margin: 2em auto;
    color: rgba(0, 0, 0, .8);
}
.paper.transluent {
    background-color: rgba(255, 255, 255, .85);
}
.paper.dark {
    background-color: #141414;
    color: #eee;
}
.paper.dark.transluent {
    background-color: rgba(20, 20, 20, 0.85);
}
.paper.transparent {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2),
        0 1px 10px rgba(0, 0, 0, .2);
    background-color: transparent;
    box-shadow: none;
    margin-bottom: -2em;
}
.centered {
    position: absolute;
        top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.paper.centered {
    width: 60%;
}


/*
    Animations
    ----------
*/
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-to-top {
    from {
        transform: translate(0, 30%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slide-to-right {
    from {
        transform: translate(-30%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slide-to-left {
    from {
        transform: translate(30%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slide-to-left-centered {
    from {
        transform: translate(-20%, -50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@-webkit-keyframes ticker-items-scroll {
	0%   {-webkit-transform: translate(0, 0);}
	25%  {-webkit-transform: translate(0, -100%);}
	50%  {-webkit-transform: translate(0, -200%);}
	75%  {-webkit-transform: translate(0, -300%);}
	100% {-webkit-transform: translate(0, 0);}
}

@keyframes ticker-items-scroll {
	0%   {transform: translate(0, 0);}
	25%  {transform: translate(0, -100%);}
	50%  {transform: translate(0, -200%);}
	75%  {transform: translate(0, -300%);}
	100% {transform: translate(0, 0);}
}
